.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.todo-app {
    width: 800px;
    margin: 0 auto;
}

.todo-title {
    text-align: center;
}

.task-form {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.task-input {
    width: 500px;
    padding: 16px;
    border-radius: 15px;
    font-size: medium;
    outline: none;
}

.add-button {
    width: 130px;
    padding: 12px;
    font-size: 18px;
    margin-left: 32px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 15px;
    outline: none;
}

.subtask-button {
    width: 120px;
    padding: 8px;
    font-size: 16px;
    margin-left: 32px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 5px;
    outline: none;
}

.completed-count {
    display: flex;
    justify-content: space-between;
}

.subtask-input {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    outline: none;
}

.task-list {
    margin-bottom: 5px;
    list-style-type: none;
}

.subtask-list {
    margin-left: 20px;
    list-style-type: none;
}

.add-button:hover {
    background-color: #ccc;
    cursor: pointer;
}

.subtask-button:hover {
    background-color: #ccc;
    cursor: pointer;
}

.collapsible-list {
    margin-bottom: 10px;
}

.collapsible-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.collapsible-list ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-list li {
    padding: 10px;
}

.collapsible-list .task-card {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.collapsible-list .subtask-card {
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.task-checkbox {
    margin-right: 10px;
}
